   html { 
   	height: 100%;
   	margin: 0;
   	padding: 0; 
   }
   	
   body { 
   	height: 100%; 
   	width: 100%;
   	margin: 0; 
   	padding: 0; 
   	font-family: "Bryant", "Gill Sans", sans-serif;
   }
   
   p {
   	 margin-top: 0.1em;
  	 font-size: 10pt;
   }
   
   svg {  
     background-color: #FFC;  
   }
   
   select {
	font-size: 1.2em
   }
   
   #wrapper { 
   	height: 100%; 
   	width: 100%; 
   	margin: 0;
   }

   #left {
   	margin-top: -8px;
   	position:fixed;
   	height: 100%;
   	width: 256px;
   	float: left;
   }

   #filterBar {
   	height: calc(100% - 13px);
	border:#808080 groove;
   }
   
   #filterPanel {
   	height: calc(100% - 256px);
   }
   
   #filterMenu {
   	border: #808080;
   }
   
   #right {
   	width: calc(100% - 256px);
   	height: 100%;
   	float:right;
   }

   #contig_us_map_canvas {
   	margin: 5px;
   	margin-left: 0px;
   	width: 100%;
   	height: calc(100% - 10px);
   	border: 1px groove gray;  
   }

  #footer{
  	clear: both;
  }
   
  .label div {
    padding: 1px;
    margin-right: 20px;
    margin: 1px;
   	font-size: 10pt;
  }
   
   
   
